<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515783428985-pnvsjtsms3129dk58oq3paqibnujtp1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515783428985-pnvsjtsms3129dk58oq3paqibnujtp1t</string>
	<key>API_KEY</key>
	<string>AIzaSyDAAQ3_KRjoanuuzKXUHqGWpMKYkNLFZl8</string>
	<key>GCM_SENDER_ID</key>
	<string>515783428985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFrontend.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>portfolio-blog-platform</string>
	<key>STORAGE_BUCKET</key>
	<string>portfolio-blog-platform.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515783428985:ios:df3105c108fa838b7bfda8</string>
</dict>
</plist>